tmp_test_*
build*
MANIFEST
.idea*
htmlcov*
docs/_*
*.pyc
dist
*.old
*.swp
*.swo
*.log
t.py
tmp
old
*.egg-info
newdocs
examples/history.db
*.sql
/.project
/.pydevproject
/.settings/
/venv/
.eggs*
.vscode
.coverage
schemas/UA-Nodese*
uv.lock
t
test_grab.py
schemas/.python-version
hello.py
examples/log.txt
cert.pem
key.pem
log
my_cert.der
my_cert.pem
my_private_key.pem
examples/sync/c.py
.python-version
