tmp_test_*
build*
MANIFEST
.idea*
htmlcov*
docs/_*
*.pyc
dist
*.old
*.swp
*.swo
*.log
t.py
tmp
old
*.egg-info
newdocs
examples/history.db
*.sql
/.project
/.pydevproject
/.settings/
/venv/
.eggs*
.coverage
